* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #1f2937;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 30px 190px;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    padding: 100px 190px;
    align-items: center;
}

.hero-text {
    max-width: 500px;
}


.hero-text h2 {
    font-size: 45px;
    font-weight:900;
    margin-bottom: 15px;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 18px;
}

.signup-btn {
    border: none;
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}

.hero-image {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    text-align: center;
    background-color: #6b7280;
    border-radius: 4px;
    width: 550px;
    height: 300px;
}

.info-section {
    text-align: center;
    padding: 60px 0;
}

.info-section h2 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.boxes {
    max-width: 500px;
}

.square {
    border: 4px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    margin-bottom: 10px;
    height: 150px;
    margin: auto;
}

.box p {
    font-size: 14px;
    color: #444;
    line-height: 1.3;
}

.testimonial-section {
    background-color: #e5e7eb;  
    padding: 80px 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.quote {
    font-size: 32px;
    font-style: italic;
    color: #1f2937; 
    width: 60%;     
    line-height: 1.4;
}

.author {
    font-size: 20px;
    font-weight: 700;
    color: #1f2937;
    align-self: flex-end;   
    margin-top: 20px;
}
